// Colors
$primary: #c96fcd;
$secondary: rgb(130, 122, 221);

$dark-blue-text: #272341; // For Headings

$carnation-pink: #ff72b2;
$strong-orange: #ffa972;
$strong-yellow: #ffca66;
$grey: #d9d9d9;
$strong-grey: #c3c3c3;
$just-white: #fff;
$dark-purple: #330137;
$warm-black: #1d1d1f;
$black-project: #0e1317;
$footer:#333;

// Font size

$default-font-size: 1.2rem;
$mid-font-size: 2rem;
$big-font-size: 4rem;