@use "../abstracts/_mixins.scss"as *;
@use "../base/reset"as *;


// We'll find the structure of all webside pages
// *1 home page
// *2 WP Project Page

//*1 HOME page ----------

.body {
  width: auto;

  .header {
    grid-area: header;
  }

  .nav {
    grid-area: nav;
  }

  .main {
    grid-area: main;
  }

  .footer {
    grid-area: footer;
  }

  // Mobile
  display: grid;
  grid-template-areas: "nav"
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  position: relative;
  height: 100vh;

  // Tablet + desktop

  @include respond(tab-port-next) {

    grid-template:
      "nav nav"
      "main header"
      "footer footer";
    grid-template-columns: 6.5fr 5.5fr;
    grid-template-rows: 3em auto 50px;
  }

  // Desktop
  @include respond(tab-land-next) {
    grid-template: "nav nav"
      "main header"
      "footer footer";
    grid-template-columns: 9fr 3fr;
    grid-template-rows: 3em auto 50px;
  }

}

// *2 WP PROJECTS page ----------

.theme__wp {
  width: auto;
}

.main__layout {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
  // background-color: rgb(170, 241, 241);
}

.main__content {
  margin: 1.2rem 2rem;
  // background-color: rgb(175, 170, 241);

}

// mobile
@include respond(tab-port) {
  .main__sidebar {
    display: none;
  }
}

// tablet + desktop
@include respond(tab-port-next) {
  .main__layout {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
  }

  // left side
  .main__sidebar {
    flex-basis: 30vw;
    background-color: rgb(241, 170, 241);

  }

  .sidebar__box {
    position: sticky;
    top: 7em;
  }


  // righ side


  .main__content {
    flex: 1 1 auto;
  }
}