@use "../abstracts/_mixins.scss"as *;

// HOME

.body {
  width: auto;

  // It doesnt work &&

  .header {
    grid-area: header;
    background-color: #8ca0ff;
  }

  .nav {
    grid-area: nav;

  }

  .main {
    grid-area: main;
    background-color: #ffff64;
  }

  .footer {
    grid-area: footer;
  }

  display: grid;
  grid-template-areas: "nav"
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;

}