@use "../abstracts/variables"as *;

.footer {
  background-color: $sweet-black;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex: 1; */
  padding: 24px 0;
  font-size: 0.5rem;

  &__info {
    color: $grey;
    font-size: 0.6rem;
  }



}