@use "../abstracts/_variables.scss"as *;
@use "../abstracts/_mixins.scss"as *;

.header {
  min-width: 320px;
  margin-top: 9em;

  &__text {
    width: 80%;
    @include flexCenter(flex, column, none, center);
    // flex-direction: column;
    // margin: 3.1em 0;
    margin-right: auto;
    margin-left: auto;
    line-height: 32px;
    text-align: center;

    h1 {
      order: 2;
      padding-bottom: 2rem;
      font-size: $mid-font-size;
    }

    h2 {
      order: 3;
      padding-bottom: 2rem;
      font-size: $small-font-size;
      font-weight: 300;


      .skills {
        color: $primary-color;
        display: block;
        padding-top: 0.2em;
        padding-bottom: 1em;
        font-weight: 500;
        text-transform: uppercase;
        font-size: $small-font-size;
      }
    }

    .header__img {
      order: 0;
      height: 12em;
      margin-bottom: 3em;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;

    }
  }


  // tablet

  @include respond(tab-port-next) {
    margin-top: 6em;
    position: fixed;
    right: 0px;
    z-index: 10;

    @include respond(tab-land-next) {
      margin-top: 2em;
      position: static;
      right: 0px;
      z-index: none;

    }

    h1 {
      line-height: 1em;
      padding-bottom: 0.3em;


    }

    h2 {
      font-size: $default-font-size;
      font-weight: 200;

      .skills {
        font-size: $default-font-size;
      }
    }

    .header__img {
      height: 9em;
      margin: 1.5em;
    }
  }

}

.main {
  text-align: center;

  &__item {
    display: block;
    padding: 5em 0;
    overflow: hidden;

    transition: all 400ms ease;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;

    h2 {
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: $default-font-size;
      line-height: 26px;
      color: $just-white;
    }
  }

  .main__item:hover {

    @include respond(tab-port-next) {
      transform: translateX(-1%);
      -webkit-transform: translateX(-1%);
      -moz-transform: translateX(-1%);
      -ms-transform: translateX(-1%);
      -o-transform: translateX(-1%);
    }

    @include respond(tab-land-next) {
      transform: translateX(1%);
      -webkit-transform: translateX(1%);
      -moz-transform: translateX(1%);
      -ms-transform: translateX(1%);
      -o-transform: translateX(1%);
      margin-left: -0.9em;
    }
  }

  // &__item-1 {
  //   background-color: $tertiary-color;
  // }

  // &__item-2 {
  //   background-color: $cerulean;

  // }

  // &__item-3 {
  //   background-color: $secondary-color;

  //   // padding: 4.2em 0;
  // }

  // &__item-4 {

  //   background-color: $primary-color;

  // }

  // &__item-5 {
  //   background-color: $cerulean;

  //   background-color: $carnation-pink;
  // }


  &__item-1 {
    background-color: #C96FCD;
  }

  &__item-2 {
    background-color: #827ADD;

  }

  &__item-3 {
    background-color: #0080D8;

    // padding: 4.2em 0;
  }

  &__item-4 {

    background-color: #0080BF;

  }

  &__item-5 {


    background-color: #007A98;
  }



  // DESKTOP
  @include respond(tab-land-next) {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));

    h2 {
      @include flexCenter(flex, row, center, center);
      // display: flex;
      // justify-content: center;
      // align-items: center;
      font-size: 0.8rem;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      font-weight: 400;
      height: 80%;
    }

  }

}

// }