@use "../abstracts/_variables.scss"as *;
@use "../abstracts/_mixins.scss"as *;

.header {
  min-width: 320px;
  margin-top: 9em;

  &__text {
    width: 80%;
    @include flexCenter(flex, column, none, center);
    // flex-direction: column;
    // margin: 3.1em 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3.2em;
    line-height: 2rem;
    text-align: center;
     // tablet from 768px +
    @include respond(tab-port-smNext){
      position: sticky;
      top: 3rem;
      padding-top: 5em;
      line-height: 2rem;
      text-align: right;
    }

    h1 {
      order: 2;
      padding-bottom: 2rem;
      font-size: $mid-font-size;
      width: max-content;
    }

    h2 {
      order: 3;
      padding-bottom: 2rem;
      font-size: $small-font-size;
      font-weight: 300;

      .skills {
        color: $primary-color;
        display: block;
        padding-top: 0.4em;
        padding-bottom: 1em;
        font-family: 'Jost', sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 1.7rem;
        height: 1.8rem;
      }
    }

    .header__img {
      order: 0;
      height: 12em;
      margin-top: 1.25rem;
      margin-bottom: 3em;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;

    }
  }

    // Tablet: from 768px +

  @include respond(tab-port-smNext) {
      margin-top: 0.5em;

    h1{
      font-size: 2.1em;
      padding-bottom: 0.3em;
      align-self: flex-end;
      margin: 0;
      padding: 0.7em 0 0.5em;
    }

    h2 {
      font-size: $default-font-size;
      font-weight: 200;
      align-self: flex-end;
      margin: 0;

      .skills {
        font-size: 1.4rem;
        font-weight: 600;
    
      }
    }

    .header__img {
      height: 9em;
      // margin: 1.5em;
      align-self: flex-end;
      margin: 0;
    }
  }

  // Desktop: from 1200px +
  @include respond(tab-land-next) {
    margin-top: 0;
    position: static;
    right: 0px;
    z-index: none;
    
    h2 {
    line-height: 1.5rem;

      .skills {
        font-size: 1.3rem;
        font-weight: 500;
    
      }
    }
  }

}

.main {
  text-align: center;

  &__item {
    display: block;
    padding: 5em 0;
    overflow: hidden;

    transition: all 400ms ease;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;

    h2 {
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: $default-font-size;
      line-height: 26px;
      color: $just-white;
    }
  }




  .main__item:hover {
 // from 768px +
    @include respond(tab-port-smNext) {
      transform: translateX(1%);
      -webkit-transform: translateX(1%);
      -moz-transform: translateX(1%);
      -ms-transform: translateX(1%);
      -o-transform: translateX(1%);
      margin-left: -0.9em;

  
}



    @include respond(tab-land-next) {
      transform: translateX(1%);
      -webkit-transform: translateX(1%);
      -moz-transform: translateX(1%);
      -ms-transform: translateX(1%);
      -o-transform: translateX(1%);
      margin-left: -0.9em;
    }
  }


  &__item-1 {
    background-color: #C96FCD;
  }

  &__item-2 {
    background-color: #827ADD;
  }

  &__item-3 {
    background-color: #0080D8;
  }

  &__item-4 {
    background-color: #0080BF;
  }

  &__item-5 {
    background-color: #007A98;
  }



  // Desktop: from 1200px +
  @include respond(tab-land-next) {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));

    h2 {
      @include flexCenter(flex, row, center, center);
      // display: flex;
      // justify-content: center;
      // align-items: center;
      font-size: 0.8rem;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      font-weight: 400;
      height: 80%;
    }

     &__item-2{
    .item-2-title{
      padding-top: 1.7em;
    }
  }  
  }

}

// }