@use "../abstracts/_variables.scss"as *;
@use "../abstracts/_mixins.scss"as *;

.theme__wp {
  text-align: left;
}

.sidebar__box {
  background-color: blue;
}

// All title
.main__title {
  h1 {
    font-size: $big-font-size;
    line-height: 4rem;
    padding: 0.6em 0px;
  }

  h2 {
    font-size: $small-font-size;
    font-weight: 300;
    padding-bottom: 2em;
  }
}

.inner__title,
.card__title,
.comments__title {

  font-size: 2.5rem;
  font-weight: 400;
  padding: 1em 0;
}

.features,
.card,
.comments {
  padding-bottom: 3em;

}



// Workflow -------
.features {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 50px;
  padding-top: 2em;

  // &:hover {
  //   filter: blur(20px);
  //   -webkit-filter: blur(20px);
  //   transform: scale(0.9);
  //   -webkit-transform: scale(0.9);
  //   -moz-transform: scale(0.9);
  //   -ms-transform: scale(0.9);
  //   -o-transform: scale(0.9);
  //   opacity: 0.5;
  // }
}

.feature {
  //background-color: grey;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  height: 370px;
  overflow: hidden;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);


  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;

  &:hover {
    backdrop-filter: blur();
    // background-color: aqua;
    background-image: linear-gradient(135deg,
        $primary-color 0%,
        $secondary-color 100%);
    color: $just-white;

  }

  &__circle {
    position: relative;
    top: 0px;
    width: 100%;
    height: 100%;

    clip-path: circle(100px at center 0);
    text-align: center;
    padding-top: 30px;
    z-index: -10;
    transition: 1s;



    .feature__span {
      color: $just-white;
      font-size: $mid-font-size;
      font-weight: 300;
    }



  }

  .circle-1,
  .circle-3,
  .circle-5 {
    background-color: $cerulean;
  }


  .circle-2,
  .circle-4,
  .circle-6 {
    background-color: $strong-yellow;
  }


  &__content {
    position: relative;
    bottom: 220px;
    // page-break-after: 20px;
    padding: 20px;
    text-align: center;
    z-index: -20;

  }
}

// Projects -------

.card--project {
  @include flexCenter(flex, column, center, center);

  @include respond(tab-port-smNext) {
    @include flexCenter(flex, row, center, center);
  }

  .project--description {

    @include flexCenter(flex, column, center, center);

    h3 {
      font-size: $small-font-size;
      text-transform: uppercase;
      font-weight: 300;
      margin-top: -25px;
    }

    h4 {
      margin: 0;
      margin-bottom: 1.25rem;
    }

    p {
      text-align: center;
      padding-bottom: 1.4em;
    }


  }
}

// mobile

@include respond(tab-port) {
  p {
    font-size: $small-font-size;
  }
}


// tablet + desktop
@include respond(tab-port-next) {
  .main__title {
    width: 70%;
  }

}